# P2 - Data Mining

Alunos: Lucas Andrade, Rachel Maranhão, Renan Stellet

Fontes:
    <https://www.kaggle.com/jsphyg/weather-dataset-rattle-package>

Objetivo: Prever se choverá no dia seguinte

In [16]:
import pandas as pd

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split


from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import minmax_scale

from sklearn.utils.testing import ignore_warnings
from sklearn.exceptions import ConvergenceWarning

In [2]:
data = pd.read_csv("dados/rain/weatherAUS.csv")
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

# Limpeza e conversão dos Dados

In [4]:
maskYesNoTo10 = {
    "No": 0,
    "Yes": 1
}

data["RainTomorrow"] = data["RainTomorrow"].map(maskYesNoTo10).dropna()
data["RainToday"] = data["RainToday"].map(maskYesNoTo10).dropna()

data["Date"] = pd.to_datetime(data["Date"])

data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,0.0,0.0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,0.0,0.0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,0.0,0.0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,0.0,0.0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,0.0,0.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  datetime64[ns]
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  float64
 22  RainTomorrow   142193 non-null  float64
dtypes: datetime64[ns](1), float64(18), object(4)
memory usage: 25.5+ MB

In [6]:
data_reduced = data.drop(columns=["Date", "Location", "WindGustDir", "WindDir9am", "WindDir3pm"])
data_reduced = data_reduced.dropna()
data_reduced

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0.0,0.0
6050,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0.0,0.0
6052,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0.0,0.0
6053,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0.0,0.0
6054,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,19.3,33.4,0.0,6.0,11.0,35.0,9.0,20.0,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,0.0,0.0
142299,21.2,32.6,0.0,7.6,8.6,37.0,13.0,11.0,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,0.0,0.0
142300,20.7,32.8,0.0,5.6,11.0,33.0,17.0,11.0,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,0.0,0.0
142301,19.5,31.8,0.0,6.2,10.6,26.0,9.0,17.0,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,0.0,0.0
142302,20.2,31.7,0.0,5.6,10.7,30.0,15.0,7.0,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,0.0,0.0

## Estratégia Ingênua

Agora, avaliaremos as proporções da variável dependente nos dados de treino.

In [7]:
val = data_reduced["RainTomorrow"].value_counts()
[val[0] / sum(val), val[1] / sum(val)]

[0.7808745050783268, 0.21912549492167327]

A variável alvo é 0 em 78% das vezes. Portanto, sempre supor que não choverá terá uma chance de acerto de aproximadamente 78%, essa estratégia será chamada de ingênua e será nosso modelo base.

## Multinominal Naive Bayes

In [40]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB

In [41]:
mnbData = data_reduced
ColToNormalize = ["MinTemp", "MaxTemp", "Temp9am", "Temp3pm"]
mnbData[ColToNormalize] = minmax_scale(mnbData[ColToNormalize])
mnbData.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,0.645669,0.706818,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,0.682382,0.700472,0.0,0.0
6050,0.658793,0.563636,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,0.526055,0.549528,0.0,0.0
6052,0.685039,0.761364,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,0.734491,0.735849,0.0,0.0
6053,0.750656,0.779545,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,0.744417,0.752358,0.0,0.0
6054,0.811024,0.838636,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,0.856079,0.799528,0.0,0.0

In [42]:
x_train, x_test, y_train, y_test = train_test_split(mnbdata.iloc[:, :-1], mnbdata.iloc[:, -1], random_state=0)

MultiNB = MultinomialNB().fit(x_train, y_train)
print(f"Train Score: {MultiNB.score(x_train, y_train)}")
print(f"Test Score: {MultiNB.score(x_test, y_test)}")

del x_train, x_test, y_train, y_test

Train Score: 0.792733031881929
Test Score: 0.7975624870894443

## Regressão Logística

In [35]:
from sklearn.linear_model import LogisticRegression

In [32]:
LogRegData = data_reduced
LogRegData.apply(minmax_scale)
x_train, x_test, y_train, y_test = train_test_split(LogRegData.iloc[:, :-1], LogRegData.iloc[:, -1], random_state=0)

LogReg = LogisticRegression(max_iter=1000).fit(x_train, y_train)
print(f"Train Score: {LogReg.score(x_train, y_train)}")
print(f"Test Score: {LogReg.score(x_test, y_test)}")

del x_train, x_test, y_train, y_test

Train Score: 0.8529850574976473
Test Score: 0.8540246505542932

## Classificador de Random Forest

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
rfgData = data_reduced
x_train, x_test, y_train, y_test = train_test_split(rfgData.iloc[:, :-1], rfgData.iloc[:, -1], random_state=0)
rfr = RandomForestClassifier().fit(x_train, y_train)

print(f"Train Score: {rfr.score(x_train, y_train)}")
print(f"Test Score: {rfr.score(x_test, y_test)}")

del x_train, x_test, y_train, y_test

Train Score: 0.999954093694769
Test Score: 0.8627694002616539