In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("dados/tripAdvisor/tripadvisor_european_restaurants.csv")
dados.head()

C:\Users\Renan\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083397 entries, 0 to 1083396
Data columns (total 42 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   restaurant_link                    1083397 non-null  object
 1   restaurant_name                    1083397 non-null  object
 2   original_location                  1083397 non-null  object
 3   country                            1083397 non-null  object
 4   region                             1033074 non-null  object
 5   province                           742765 non-null   object
 6   city                               682712 non-null   object
 7   address                            1083397 non-null  object
 8   latitude                           1067607 non-null  float64
 9   longitude                          1067607 non-null  float64
 10  claimed                            1081555 non-null  object
 11  awards                             263133 non-null   object
 12  popularity_detailed                988409 non-null   object
 13  popularity_generic                 985605 non-null   object
 14  top_tags                           972763 non-null   object
 15  price_level                        806192 non-null   object
 16  price_range                        304327 non-null   object
 17  meals                              635347 non-null   object
 18  cuisines                           914294 non-null   object
 19  special_diets                      340256 non-null   object
 20  features                           317407 non-null   object
 21  vegetarian_friendly                1083397 non-null  object
 22  vegan_options                      1083397 non-null  object
 23  gluten_free                        1083397 non-null  object
 24  original_open_hours                593832 non-null   object
 25  open_days_per_week                 593832 non-null   float64
 26  open_hours_per_week                593832 non-null   float64
 27  working_shifts_per_week            593832 non-null   float64
 28  avg_rating                         986761 non-null   float64
 29  total_reviews_count                1031162 non-null  float64
 30  default_language                   988204 non-null   object
 31  reviews_count_in_default_language  988204 non-null   float64
 32  excellent                          988204 non-null   float64
 33  very_good                          988204 non-null   float64
 34  average                            988204 non-null   float64
 35  poor                               988204 non-null   float64
 36  terrible                           988204 non-null   float64
 37  food                               599325 non-null   float64
 38  service                            604287 non-null   float64
 39  value                              602692 non-null   float64
 40  atmosphere                         261785 non-null   float64
 41  keywords                           99198 non-null    object
dtypes: float64(17), object(25)
memory usage: 347.2+ MB

In [5]:
dados["value"].dropna()

0          4.0
3          4.5
4          4.5
5          4.5
6          4.5
          ...
1083381    3.5
1083384    5.0
1083387    3.5
1083388    4.5
1083389    4.0
Name: value, Length: 602692, dtype: float64